#noti{
    width: 357px;
}

.divider-ci{
    height: 0px;
    overflow: hidden;
    padding: 0px;
    background-color: #d7dfe5;
    margin: 1px;
}

#page-fad-paginate{
    margin-left: -30px;
    margin-top: -21px;
    margin-bottom: 0px;
    padding: 0px;
}

#not_up{
    padding: 32px;
    opacity: 0.1;
}
#not_inner{
    position: absolute;
    margin-top: 39%;
    padding: 35px;
}

.reset-fahad{
    padding: 0px;
    margin: 0px;
}
.well-noti{

    padding: 3px;
    margin-bottom: 6px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);



}

.well-noti:hover{

    background-color: #424242;
    color: #ffffff;
}

#noti_holder {
    margin-top: 0px;
    margin-right: 29px;
    margin-left: 30px;
}

/*it does not work?*/
.cur_link_page{
    background-color: #424242;
    color: #ffffff;
}

/*alert boxex overriding the defaults*/
.alert {

    margin-bottom: -14px;

}

.straighten-up{
    margin-left: -14px;

}

.fa-black{
    color: #000000;
}

/*logo for the side bar   */
.last-logo{
    padding: 25%;opacity: 0.2;margin-top: 25%;

}

/*For show buttons in manual invoices*/

.show-invoices a{
    text-decoration: none;
}

.show-invoices a:hover{
    text-decoration: none;
}

/*for iphone*/
.show-invoices{
    margin-bottom: 21px;
}


@media (min-width: 1200px){
    .col-lg-1 {
        width: 11.333333%;
    }
    .col-lg-9 {
        margin-left: -1%;
        margin-top: 1.5%;
    }

    .last-logo{
        padding: 25%;opacity: 0.2;margin-top: -8%;;

    }


}

@media (min-width: 1320px){
    .col-lg-1 {
        width: 11.733333%;
    }
    .col-lg-9 {
        margin-left: -1%;
        margin-top: 1.9%;
    }

    .last-logo{
        padding: 10%;opacity: 0.2;margin-top: 15%;

    }
}
/*iphone 5*/

@media (max-width: 422px) and (min-width:0px){
    .navbar-brand {

        font-size: 10px;

    }
    .last-logo{
        padding-top: 32%;
        padding-left: 32%;
        padding-right: 32%;
        opacity: 0.2;
        margin-top: -80px;
        padding-bottom: 0px;

     }
}

