#noti{
    width: 357px;
}

.divider-ci{
    height: 0px;
    overflow: hidden;
    padding: 0px;
    background-color: #d7dfe5;
    margin: 1px;
}

#page-fad-paginate{
    margin-left: -30px;
    margin-top: -21px;
    margin-bottom: 0px;
    padding: 0px;
}

#not_up{
    padding: 32px;
    opacity: 0.1;
}
#not_inner{
    position: absolute;
    margin-top: 39%;
    padding: 35px;
}

.reset-fahad{
    padding: 0px;
    margin: 0px;
}
.well-noti{

    padding: 3px;
    margin-bottom: 6px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);



}

.well-noti:hover{

    background-color: #424242;
    color: #ffffff;
}

#noti_holder {
    margin-top: 0px;
    margin-right: 29px;
    margin-left: 30px;
}

/*it does not work?*/
.cur_link_page{
    background-color: #424242;
    color: #ffffff;
}

/*alert boxex overriding the defaults*/
.alert {

    margin-bottom: -14px;

}

.straighten-up{
    margin-left: -14px;

}

.fa-black{
    color: #000000;
}

/*logo for the side bar   */
.last-logo{
    padding: 25%;opacity: 0.2;margin-top: 25%;

}

/*For show buttons in manual invoices*/

.show-invoices a{
    text-decoration: none;
}

.show-invoices a:hover{
    text-decoration: none;
}

/*for iphone*/
.show-invoices{
    margin-bottom: 21px;
}

.invoices-pg{
    margin-top: -14px;
    margin-right: 29px;
    margin-left: 41px;
    margin-bottom: -59px;
}

.x-small{
    font-size: 65%;
}


/*users*/

.profile
{
    min-height: 279px;
    display: inline-block;
}
figcaption.ratings
{
    margin-top:20px;
}
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
}
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
}
.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis_
{
    border-top: 4px solid transparent;
}
.emphasis_:hover
{
    border-top: 4px solid #558cbc;
}
.emphasis_ h2
{
    margin-bottom:6px;
}
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
.dropdown-menu_
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}
.dropdown-menu_ .divider
{
    background:none;
}
.dropdown-menu_>li>a
{
    color:#f5f5f5;
}
.dropup .dropdown-menu_
{
    margin-bottom:10px;
}
.dropup .dropdown-menu_:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}


/*Pagination push*/
.push-it{
    margin-left: 30px;
    margin-top: -8px;
}

.datepicker{z-index:11514;}

.pad-20{
    padding-left: 20px;
    padding-right: 20px;
}

.thumb1 {
    width:100%;
    overflow:hidden;
}
.thumb2 {
    width:65%;

}

.user-details {position: relative; padding: 0;}
.user-details .user-image {position: relative;  z-index: 1; width: 100%; text-align: center;}
.user-image img { clear: both; margin: auto; position: relative;}

.user-details .user-info-block {width: 100%; position: absolute; top: 100px; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px;}
.user-info-block .user-heading {width: 100%; text-align: center; margin: 70px 0 0;}
.user-info-block .navigation {width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #428BCA; border-top: 1px solid #428BCA;}
.navigation li { margin: 0; padding: 0;}
.navigation li a {padding: 20px 30px; float: left;}
.navigation li.active a {background: #428BCA; color: #fff;}
.user-info-block .user-body { padding: 5%; width: 90%;}
.user-body .tab-content > div {width: 100%;}
.user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}

@media (min-width: 1200px){
    .col-lg-1 {
        width: 11.333333%;
    }
    .col-lg-9 {
        margin-left: -1%;
        margin-top: 1.5%;
    }

    .last-logo{
        padding: 25%;opacity: 0.2;margin-top: -8%;;

    }


}

@media (min-width: 1320px){
    .col-lg-1 {
        width: 11.733333%;
    }
    .col-lg-9 {
        margin-left: -1%;
        margin-top: 1.9%;
    }

    .last-logo{
        padding: 10%;opacity: 0.2;margin-top: 15%;

    }
}
/*iphone 5*/

@media (max-width: 422px) and (min-width:0px){
    .navbar-brand {

        font-size: 69%;

    }
    .nav {
        margin-bottom: 0;
        list-style: none;
        font-size: 0.9em;
        margin-top: -1px;
        margin-left: 2px;
    }

    .navbar-top-links li:last-child {
        margin-right: -33px;
    }

    .last-logo{
        padding-top: 32%;
        padding-left: 32%;
        padding-right: 32%;
        opacity: 0.2;
        margin-top: -80px;
        padding-bottom: 0px;

     }

    .invoices-pg{
        margin-top: -36px;
        margin-right: 29px;
        margin-left: 41px;
        margin-bottom: -41px;
    }
}

@media print {
    * { margin: 0 !important; padding: 0 !important; }
    #controls, .footer, .footerarea{ display: none; }
    html, body {
        /*changing width to 100% causes huge overflow and wrap*/
        height:100%;
        overflow: hidden;
        background: #FFF;
        font-family: "Open Sans",Arial,sans-serif;
        font-size: 12pt;
        box-sizing: border-box;

    }

    /*.template { width: auto; left:0; top:0; }*/
    img { width:100%; }
    li { margin: 0 0 10px 20px !important;}

    table, th, td
    {
        border-collapse:collapse;
        border: 1px solid black;
        width:100%;
        padding: 12px;
        box-sizing: border-box;
        height: 100%;

    }

}


/*Push downs started */

.push-down-15{
    margin-bottom: 15px;
}

.push-down-10{
    margin-bottom: 10px;
}

.push-down-5{
    margin-bottom: 5px;
}

/*push from right*/

.push-from-right-15{
    margin-right: 15px;
}

.push-from-right-10{
    margin-right: 10px;
}

.push-from-right-5{
    margin-right: 5px;
}

/*push from left*/

.push-from-left-15{
    margin-left: 15px;
}

.push-from-left-10{
    margin-left: 10px;
}

.push-from-left-5{
    margin-left: 5px;
}
.push-left-negative-19{
    margin-left: -19px;
}

/*testing something new*/

.glyphicon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}

.line-breaker {
    margin-left: 11px;
    border-left: 1px solid #bababa;
    padding-left: 31px;
}




.well-list
{
    height:120px;
    padding: 0px;
}

.well-list img
{
    width:84px;
    margin-top: 10px;
}

.well-list-description{
    line-height: 5px;
}

.variance-list{
    margin-top: -106px;

    line-height: 3px;
    margin-bottom: 10px;
}

/*Mobile by default*/
.responsive-select {
    margin-top: -50px;
    margin-right: -13px;
    width: 54%;
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    .variance-list{
        margin-top: -106px;
    }
    .responsive-select{
        margin-top: -52px;
        margin-right: -16px;

    }

}


/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    .responsive-select {
        margin-top: 3px;
        margin-right: -27px;
        width: 109%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    .responsive-select{
        margin-top: 1px;
        margin-right: -11px;
        width: 108%;
        padding: 0;
    }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .variance-list{
        margin-top: -106px;
    }
    .responsive-select {
        margin-top: -52px;
        margin-right: -26px;
        width: 56%;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .variance-list{
        margin-top: -106px;
    }
    .responsive-select {
        margin-top: -51px;
         margin-right: -1px; 
        width: 59%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .variance-list{
        margin-top: -12px;
    }
    .responsive-select{
        margin-top: 43px;
        margin-right: -59px;
        width: 110%;
    }

}


.btn-cool a,.btn-cool a{
    text-decoration: none;
}
.btn-cool {
    color: #fff;
    background-color: #2c648e;

    border-color: #357ebd;
}
.btn-cool:hover,
.btn-cool:focus,
.btn-cool:active,
.btn-cool.active,
.open .dropdown-toggle.btn-cool {
    color: #fff;
    background-color: #285379;
    border-color: #285e8e;
}
.btn-cool:active,
.btn-cool.active,
.open .dropdown-toggle.btn-cool {
    background-image: none;
}
.btn-cool.disabled,
.btn-cool[disabled],
fieldset[disabled] .btn-cool,
.btn-cool.disabled:hover,
.btn-cool[disabled]:hover,
fieldset[disabled] .btn-cool:hover,
.btn-cool.disabled:focus,
.btn-cool[disabled]:focus,
fieldset[disabled] .btn-cool:focus,
.btn-cool.disabled:active,
.btn-cool[disabled]:active,
fieldset[disabled] .btn-cool:active,
.btn-cool.disabled.active,
.btn-cool[disabled].active,
fieldset[disabled] .btn-cool.active {
    background-color: #285379;
    border-color: #357ebd;
}
.btn-cool .badge {
    color: #428bca;
    background-color: #fff;
}

.pull-right-top-4{
    margin-top: 4px;
}
