#noti{
    width: 357px;
}

.divider-ci{
    height: 0px;
    overflow: hidden;
    padding: 0px;
    background-color: #d7dfe5;
    margin: 1px;
}

#not_up{
    padding: 32px;
    opacity: 0.1;
}
#not_inner{
    position: absolute;
    margin-top: 39%;
    padding: 35px;
}